{{#each model as |item|}}
  <section class="row color-group {{item.color}}-bricks">
    <h2>{{item.color}}</h2>
    {{#each item.bricks as |brick|}}
      {{lego-brick brick=brick}}
    {{/each}}
  </section>
{{/each}}

{{outlet}}
